@tailwind base;

@layer base {
  :root {
    --doc-height: 100%;
  }

  html,
  body,
  #app {
    height: 100vh;
    height: var(--doc-height);
    overflow: hidden;
  }

  .h-real {
    height: var(--doc-height);
  }
}

@tailwind components;
@tailwind utilities;

table {
  @apply m-2 table-fixed border-spacing-2;
}

tr {
  @apply border-b border-b-neutral-content;
}

td {
  @apply py-1;
}